@mixin button-base($color) {
    background-color: $color;
    border-color: darken($color, 20%);
    /* luminance(#{$color}): #{luminance($color)}
     * luminance(white): #{luminance(white)}
     */
    @if abs(luminance($color) - $white_luminance) > 0.7 {
    // @if lightness($color) < 70 {
        color: white;
    }
    &:hover:not(:disabled) {
        background-color: lighten(saturate($color, 20%), 10%);
    }
}
