@mixin button-base($color:none , $padding: none, $light-text:$white, $dark-text:$black, $threshold: 0.7) {
    background-color: $color;
    border-color: darken($color, 10%);
    padding: $padding;
    /* luminance(#{$color}): #{luminance($color)}
     * luminance(white): #{luminance(white)}
     */

    @if abs(luminance($color) - $white_luminance) > $threshold {
        color: $light-text;
    } @else {
        color: $dark-text;
    }

    &:hover:not(:disabled) {
        @if abs(luminance($color) - $white-luminance) > $threshold {
            background-color: lighten($color, 10%);
        } @else {
            background-color: lighten($color, 10%);
            filter: hue-rotate(-20deg);
        }
    }
}
