$margin-factor: $spacer-half;

.u-margin-bottom--xsmall {
    margin-bottom: $margin-factor;
}

.u-margin-bottom--small {
    margin-bottom: $margin-factor * 2;
}

.u-margin-bottom--medium {
    margin-bottom: $margin-factor * 3;
}

.u-margin-bottom--large {
    margin-bottom: $margin-factor * 4;
}


.u-margin-top--xsmall {
    margin-top: $margin-factor;
}

.u-margin-top--small {
    margin-top: $margin-factor * 2;
}

.u-margin-top--medium {
    margin-top: $margin-factor * 3;
}

.u-margin-top--large {
    margin-top: $margin-factor * 4;
}
