$red:                           #ED0A3F;
$english-vermilion:             #CC474B;
$dark-venetian-red:             #B33B24;
$sunset-orange:                 #FE4C40;
$vivid-tangerine:               #FF9980;
$red-orange:                    #FF681F;
$mango-tango:                   #E77200;
$neon-carrot:                   #FF9933;
$banana-mania:                  #FBE7B2;
$middle-yellow:                 #FFEB00;
$olive-green:                   #B5B35C;
$canary:                        #FFFF99;
$lemon-yellow:                  #FFFF9F;
$light-chrome-green:            #BEE64B;
$max-green:                     #5E8C31;
$granny-smith-apple:            #9DE093;
$fern:                          #63B76C;
$sea-green:                     #93DFB8;
$jungle-green:                  #29AB87;
$pine-green:                    #01786F;
$teal-blue:                     #008080;
$turquoise-blue:                #6CDAE7;
$cerulean:                      #02A4D3;
$midnight-blue:                 #00468C;
$denim-blue:                    #1560BD;
$periwinkle:                    #C3CDE6;
$indigo:                        #4F69C6;
$celestial-blue:                #7070CC;
$violet-blue:                   #766EC8;
$blue-violet:                   #6456B7;
$purple-heart:                  #652DC1;
$royal-purple:                  #6B3FA0;
$wisteria:                      #C9A0DC;
$purple-mountain-majesty:       #D6AEDD;
$fuchsia:                       #C154C1;
$pink-flamingo:                 #FC74FD;
$brilliant-rose:                #E667CE;
$orchid:                        #E29CD2;
$plum:                          #8E3179;
$jazz-berry-jam:                #A50B5E;
$wild-strawberry:               #FF3399;
$razzmatazz:                    #E30B5C;
$mauvelous:                     #F091A9;
$mahogany:                      #CA3435;
$melon:                         #FEBAAD;
$peach:                         #FFCBA4;
$apricot:                       #FDD5B1;
$gold-brown:                    #92926E;
$gold-yellow:                   #E6BE8A;
$tumbleweed:                    #DEA681;
$copper:                        #DA8A67;
$raw-sienna:                    #D27D46;
$fuzzy-wuzzy:                   #87421F;
$beaver:                        #926F5B;
$golden-rod:                    #FCD667;
$shadow:                        #837050;
$outer-space:                   #2D383A;
$black:                         #000000;
$timber-wolf:                   #D9D6CF;
