$spacer: 5px;

$spacer-eighth: $spacer * 0.125;
$spacer-fourth: $spacer * 0.25;
$spacer-half: $spacer * 0.5;
$spacer-three-quarters: $spacer * 0.75;

$spacer-2: $spacer * 2;
$spacer-3: $spacer * 3;
$spacer-4: $spacer * 4;
$spacer-5: $spacer * 5;
$spacer-6: $spacer * 6;
$spacer-7: $spacer * 7;
$spacer-8: $spacer * 8;
