.container {
    @include container();
    padding: $spacer-4 $spacer-2 $spacer-2 $spacer-2;
    height: 100%;

    @include breakpoint(extra-large) {
        margin: auto;
    }
}

.o-row {
    @include span(24 of 24);

    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.o-column {
    float: left;
    width: 100%;

    &.o-row {
        @include gutters(0);
    }
}

// Creates the grid classes, breakpoints, and modifiers
@each $key, $bp in $breakpoints  {

    @if $key == extra-small {
        @for $i from 1 through map-get($susy, columns) {

            .o-#{$key}--#{$i} {
                width: span($i);
                padding-left: $spacer;
                padding-right: $spacer;
            }
            .o-#{$key}--offset-#{$i} { @include pre($i);}
            .btn-#{$key}--#{$i} {
                width: (span($i) - 1 * 1%);
                margin-right: $spacer-fourth;
                margin-left: $spacer-fourth;
            }
        }
    } @else {
        @include breakpoint(#{$key}) {
            @for $i from 1 through map-get($susy, columns) {

                .o-#{$key}--#{$i} {
                    width: span($i);
                    padding-left: $spacer;
                    padding-right: $spacer;
                }
                .o-#{$key}--offset-#{$i} { @include pre($i);}
                .btn-#{$key}--#{$i} {
                    width: (span($i) - 1 * 1%);
                    margin-left: $spacer-fourth;
                    margin-right: $spacer-fourth;
                }
            }
        }
    }
}

.flex-center {
    @include flex-center();
}
