@import './variables/index';
@import './typography/index';
@import './functions/index';
@import './mixins/index';
@import './base-styles';
@import './layout';
@import './buttons';

main {
    max-width: 1440px;
    background-color: $white;
    padding: 2em;
    margin: 0 auto;
    box-sizing: border-box;
}
