// NOTE Smallest accessibile size.
$text: 16px;

// NOTE Increments of 4 pixels.
$text1: 20px;
$text2: 24px;
$text3: 26px;
$text4: 28px;
$text5: 30px;
$text6: 32px;
$text7: 34px;
$text8: 36px;
$text9: 38px;

// NOTE Increments of 10 pixels.
$text-1: 40px;
$text-2: 50px;
$text-3: 60px;
$text-4: 70px;
$text-5: 80px;
$text-6: 90px;
$text-7: 100px;
$text-8: 110px;
$text-9: 120px;
